.thumbnail{
    font-family: monospace;
    background-color: black;
    color: white;
    text-align: center;
    width: 360px;
    margin: auto;
    border: 2px solid black;
}
.thumbnail img{
    width: 360px;
    height: 480px;
}
.thumbnail:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px 15px black;
}